@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* common css */
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

button {
    outline: none;
}

.ant-menu-item a {
    transition: none;
}

/* nav logo */
.demo-logo-vertical h2 {
    text-align: center;
}

/* dashboard */
.imgBox{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
}
